
@font-face {
  font-family: 'SVN-VeryBerry';
  src: url('SVN-VeryBerry.eot?#iefix') format('embedded-opentype'),  url('SVN-VeryBerry.woff') format('woff'), url('SVN-VeryBerry.ttf')  format('truetype'), url('SVN-VeryBerry.svg#SVN-VeryBerry') format('svg');
  font-weight: normal;
  font-style: normal;
}
